<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Dashboard Utama</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
        <script src="{{ url_for('static', filename='js/angular.js') }}"></script>
        <script src="{{ url_for('static', filename='js/eventemitter2.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
        <script src="https://cdn.roboflow.com/0.2.26/roboflow.js"></script>
        
    </head>
    <body ng-app="mainApp" ng-controller="mainAppController">
        <!-- INI DIV UNTUK HEADER -->
        <div class="bg-gray-200 text-white p-2 flex justify-between items-center shadow-lg">
            <div class="flex items-center">
              <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo" class="h-16 mr-2">
            </div>
            <div class="text-black ">
                <p id="jam" class="text-center text-2xl"> 06:26</p>
                <p id="tanggal">22 Agustus 2028</p>
            </div>
        </div>
        
        <!-- DIV INI TERBAGI MENJADI DUA BAGIAN YAITU CCTV DAN MENU -->
        <div class="flex">
            <!-- Div MENU -->
            <div class="w-1/2 p-4">

                <!-- Input Liter dan Harga -->
                <div>
                    <div class="bg-white shadow-md rounded-md p-6">

                        <div class="mb-2">
                            <label for="name" class="block text-gray-700 font-semibold mb-2">Liter</label>
                            <p id="liter-total-span" class="bg-gray-100 w-full px-3 py-2 border rounded-md focus:outline-none focus:border-blue-500">0</p>
                        </div>

                        <div class="mb-5">
                            <label for="name" class="block text-gray-700 font-semibold mb-2">Harga</label>
                            <p id="harga-total-span" class="bg-gray-100 w-full px-3 py-2 border rounded-md focus:outline-none focus:border-blue-500">0</p>
                            <!-- <input disabled type="text" id="name" placeholder="20.000" class="bg-gray-100 w-full px-3 py-2 border rounded-md focus:outline-none focus:border-blue-500"> -->
                        </div>



                        <div class="bg-white shadow-md rounded-md p-4">
                            <div class="grid grid-cols-3 gap-2">
                              <button ng-click="changeValue( 1 )" class="border bg-gray-200 hover:bg-gray-300 text-gray-700 font-semibold py-2 rounded-md focus:outline-none focus:ring focus:ring-gray-300" >1</button>
                              <button ng-click="changeValue( 2 )" class="border bg-gray-200 hover:bg-gray-300 text-gray-700 font-semibold py-2 rounded-md focus:outline-none focus:ring focus:ring-gray-300">2</button>
                              <button ng-click="changeValue( 3 )" class="border bg-gray-200 hover:bg-gray-300 text-gray-700 font-semibold py-2 rounded-md focus:outline-none focus:ring focus:ring-gray-300">3</button>
                              <button ng-click="changeValue( 4 )" class="border bg-gray-200 hover:bg-gray-300 text-gray-700 font-semibold py-2 rounded-md focus:outline-none focus:ring focus:ring-gray-300">4</button>
                              <button ng-click="changeValue( 5 )" class="border bg-gray-200 hover:bg-gray-300 text-gray-700 font-semibold py-2 rounded-md focus:outline-none focus:ring focus:ring-gray-300">5</button>
                              <button ng-click="changeValue( 6 )" class="border bg-gray-200 hover:bg-gray-300 text-gray-700 font-semibold py-2 rounded-md focus:outline-none focus:ring focus:ring-gray-300">6</button>
                              <button ng-click="changeValue( 7 )" class="border bg-gray-200 hover:bg-gray-300 text-gray-700 font-semibold py-2 rounded-md focus:outline-none focus:ring focus:ring-gray-300">7</button>
                              <button ng-click="changeValue( 8 )" class="border bg-gray-200 hover:bg-gray-300 text-gray-700 font-semibold py-2 rounded-md focus:outline-none focus:ring focus:ring-gray-300">8</button>
                              <button ng-click="changeValue( 9 )" class="border bg-gray-200 hover:bg-gray-300 text-gray-700 font-semibold py-2 rounded-md focus:outline-none focus:ring focus:ring-gray-300">9</button>
                              <button ng-click="changeValue( 11 )" class="border bg-gray-200 hover:bg-gray-300 text-gray-700 font-semibold py-2 rounded-md focus:outline-none focus:ring focus:ring-gray-300">000</button>
                              <button ng-click="changeValue( 0 )" class="border bg-gray-200 hover:bg-gray-300 text-gray-700 font-semibold py-2 rounded-md focus:outline-none focus:ring focus:ring-gray-300">0</button>
                              <button ng-click="changeValue( 12 )" class="border bg-gray-200 hover:bg-gray-300 text-gray-700 font-semibold py-2 rounded-md focus:outline-none focus:ring focus:ring-gray-300 ">&#9003;</button>
                            </div>
                          </div>

                         <div class="flex">
                            <button id="submit-request-button" ng-click="send_request_data()" class="disabled:bg-red-200 mx-auto mt-4 bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-600 focus:outline-none focus:ring focus:ring-blue-300">
                                Submit
                              </button>

                         </div> 

                        
                    </div>
                </div>


            </div>

            <!-- DIV CAMERA -->
            <div class="w-1/2 p-4">

                <!-- INI PART CAMERA -->
                <div class="m-4 rounded-lg flex justify-center" >
                    <img class="rounded-lg max-w-full h-auto" src="{{ url_for('video_feed') }}" alt="">
                </div>

                <!-- Ini part status dtail kendaraan Plate -->
                <div class="flex m-4 p-4 shadow-md rounded">
                    <div class="w-1/2 text-center">
                        <p class="my-2">License Plate :</p>
                        <p>Status Subsidi :</p>
                    </div>
                    <div class="w-1/2 text-center">
                        <p class="my-2"><span class="rounded-lg bg-gray-300 px-4 py-1" id="license-plate-span" >K 445 ASF</span></p>
                        <p class="my-2"><span class="rounded-lg bg-red-500 px-4 py-1" id="status-subsidi-span" >Tidak Valid</span></p>
                    </div>
                </div>




            </div>
        </div>
    </body>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</html>